// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-booking{
  text-align: center;
  padding: 2% 25%  5% 25% ;
}

.choose-flight, .user-info{
  text-align: left;
  padding: 3%;
}

.user-input{
  padding: 4%;
}